/* Customers.css */

/* Form container */
.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Form title */
  .form-container h2 {
    text-align: center;
  }
  
  /* Form fields */
  .form-container label {
    display: block;
    margin-bottom: 8px;
  }
  
  .form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Submit button */
  .form-container button {
    background-color: grey;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }
  